@model LearningKit.Models.Widgets.SelectorsWidget.SelectorsWidgetViewModel

<h3>This is a dummy widget demonstrating the functionality of selector form components</h3>
<p>Use the widget properties dialog to select media files or pages from the connected Xperience database.</p>

Selected image:

<br />

@* Renders the selected image *@
@if (Model.MediaFileUrl.Equals(String.Empty))
{
    <span style="border: 1px solid"><em>image placeholder</em></span>
}
else
{
    <img src="@Model.MediaFileUrl">
}

<p>
    Pages:
    <ul>
        <li>Selected document: @Model.DocumentGuid</li>
        <li>Selected path: @Model.DocumentPath</li>
    </ul>
</p>

Selected attachment:
@* Creates a download link for the selected attachment *@
@if (Model.AttachmentUrl.Equals(String.Empty))
{
    <span style="border: 1px solid"><i>placeholder</i></span>
}
else
{
    <a href="@Model.AttachmentUrl)">Click to download attachment</a>
}