@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

<div>
    <div style="float:left; width:50%;">
        @Html.Kentico().WidgetZone()
    </div>
    <div style="float:left; width:50%;">
        @Html.Kentico().WidgetZone()
    </div>
    <div style="clear:both;" />
</div>